
.header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
    /* background-color: #f1f1f1; */
    color: white;
  }
  
  .logo {
    width: 100px;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .header-menu {
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    /* width: 50%; */
    gap:3rem;
    margin: auto auto;
  }
  
  .header-menu li {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
  }
  .header-menu li:hover {
    scale:1.2;
    cursor: pointer;
    color: var(--blue);
  }
  
  .show {
    display: flex ;

  }
  
  @media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-toggle {
      display: block;
      z-index: 50;
    }
    
    .header-menu {
      display: none;
     
    }
    .show {
        display: flex ;
        background-color: #333333;
        flex-direction: column;
       
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 999;
        text-align: center;
      }
  
    .header-menu li {
      margin: 5px 0;
    }
    .show :nth-last-child(1){
        padding-bottom:20px ;
    }
  
    .show {
      animation: fadeSlideDown 0.3s ease-in-out forwards;
    }
  }
  
  @keyframes fadeSlideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  