.header{
    display:flex;
    /* justify-content: space-between; */
}

.logo{
    width: 12rem !important;
    max-height: 5rem !important;
}

.header-menu{
    list-style: none;
    display: flex;
    gap:2rem;
    color:white ;
    /* justify-items: center; */
    align-items: center;
    margin: auto auto;;

}

.header-menu>li{
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;;
    margin-right: 10px;
}

.header-menu>li:hover{
    color: var(--blue)
}